<div class="row">
  <div class="col-12">
    <button class="btn btn-success">Add a New Recipe</button>
  </div>
  <div class="col-12">
    <ul class="list-group">
      <li class="list-group-item my-5" *ngFor="let recipe of recipes">
          <a href="#" class="">
            <img [src]="recipe.imagePath" alt="..." class="rounded img-fluid float-left mb-3">
            <span class="d-block h2">{{recipe.name}}</span>
            {{recipe.description}}<br>
          </a>
      </li>
    </ul>
    <app-recipe-item></app-recipe-item>
  </div>
</div>